
 <app-header [loggeduser]="loggeduser" [title]="title" (openmenu)="showMenu=!showMenu">
   <div [style.width]="showMenu ? '250px': '0px'" class="sidemenu">
     <h3 style="margin: 20px">Deaths: </h3>
  <ul >
    <li>US - 121,000 </li>
    <li>Italy - 34,561</li>
    <li>Germany - 8,960</li>
    <li>India - 12,948</li>
    <li>Russia - 8,002</li>
    <li>Japan - 935</li>
  </ul>
</div>
 </app-header>
 
 <main>
  <div id="statistics">
    <h3>Total sick: {{sickPeople }}</h3>
    <h3>Total quarantined: {{quarantinedPeople }}</h3>
    <h3>Total healthy: {{healthyPeople }}</h3>
   </div>
   
   <app-user (click)="clickedUser=user;" [user]="user" *ngFor="let user of covidUsers">
  </app-user>

  <app-userdetails *ngIf="clickedUser" [clickeduser]="clickedUser" (close)="loggeduser=clickedUser;clickedUser = null" >
    <h1>Hello World</h1>
    <h2>Goodby World</h2>
  </app-userdetails>

 </main>









        
  


