/* You can add global styles to this file, and also import other style files */
.blue{
    background-color: blue;
    font-size: 25px;
    color: wheat;

}
.border{
    border:6px dashed green;
}

.cool{
    background-color: red;
}
